#banner {
  margin-top: 0px;
  padding-top: 0px;
  display: inline-block;
}

#thenav {
  height:250px;
  color: white;
  background-color: #2f3238;
  font-family: "Roboto-regular";
  box-shadow: 0px 2px 2px 1px black;
}

.titlerow{
  text-align: center;
}

.titleText {
    display: inline-block;
    margin-right: 6px;
    font-size: 40px;
}

#wordif {
  color: #535154;
}

#wordsixty {
  color: #D94F5C;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

#wordnew {
  color: #535154;
}

#wordforty {
  color: #D94F5C;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

#wordjob {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 48px;

}

#thefooter{
  background-color: #2f3238;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize.min
 *= require materialize
 */
