<% content_for :title, "Home | If Sixty is the New Forty" %>

  <div class="parallax-container">
    <div id="mainImage" class="parallax"><%= image_tag "boardroom2.jpg" %></div>
  </div>

<h1>yes, this is index</h1>
