<% content_for :title, "Home | If Sixty is the New Forty" %>

<div class="parallax-container">
  <div id="mainImage" class="parallax"><%= image_tag "boardroom2.jpg" %></div>
</div>


  <div id="indexMain">
    <p id="mainHeading">The Book About Keeping Your Skills Relevant In An Increasingly Difficult Job Market</p>
  </div>


<div class="parallax-container">
  <div id="mainImage" class="parallax"><%= image_tag "boardroom.jpg" %></div>
</div>
